* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg-color: #0a192f; /*Dary Navy for BGC */
  --secondary-bg-color: #1f4068; /*Darker blur for BGC of containers */
  --primary-text-color: #f4f4f4; /*Light Gray Body text, paragraph */
  --secondary-text-color: #8892b0; /*soft blur Gray dates, captions */
  --heading-text-color: #50e3c2; /*for Hewading , title, progress bar */
  --success-color: #4caf50; /* Green For success yeh! */
  --error-color: #4caf50; /* Red For warning */
  --button--icon-hightlight-color: #e43f5a; /*Bright red for Buttons, icons, highlights. */
  --hover-bg: #ff6f61; /*Coral for Hover effects, secondary buttons, animations.s */
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  width: 500px;
  margin: auto;
  min-height: 300px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
fieldset {
  min-height: 250px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  gap: 10px;
  /* border: 4px solid red; */
}
input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
}
select:focus,
input:focus {
  outline-color: var(--heading-text-color);
}

option {
  display: flex;
  justify-content: center;
  align-items: center;
}
select {
  width: 40px;
  padding: 4px;
  border-radius: 4px;
}
input[type="submit"] {
  width: 140px;
}
.result-display {
  padding: 8px;
  background-color: var(--secondary-bg-color);
  display: flex;
  font-weight: bold;
  font-size: 1.55rem;
  color: var(--heading-text-color);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
#submitBtn {
  background-color: var(--button--icon-hightlight-color);
  color: var(--primary-text-color);
  transition: all 0.5s ease;
  cursor: pointer;
}
#submitBtn:hover {
  transform: scale(1.0699);
}
